:root {
  --fridge-dark: #37251b;
  --fridge-medium-dark: #80411e;
  --fridge-medium: #ad6e2f;
  --fridge-medium-light: #d49961;
  --fridge-light: #e4bc84;
  --fridge-item: #faeadc;

  --tea-dark: #222f1d;
  --tea-medium-dark: #2c3e26;
  --tea-medium: #465f43;
  --tea-medium-light: #607f60;
  --tea-light: #c5e7b9;
  --tea-item: #f1f9ee;
}

html {
	font-size:62.5%;
}
* {

  font-family: Comfortaa;
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  height: 100%;
  width: 100%;
}.viewrecipe {
  box-sizing: border-box;
  padding: 3.1rem 2.9rem 3.4rem 2.8rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--fridge-item);
}
.viewrecipe .tiltle {
  margin-bottom: 2.4rem;
  width: 100%;
  height: 10.5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-medium-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.viewrecipe .item {
  margin-bottom: 2.3rem;
  width: 100%;
  height: 3.3rem;
  border-bottom: solid 0.1rem #37251b;
  box-sizing: border-box;
  flex-shrink: 0;
}
.viewrecipe .item .group1 {
  width: 100%;
  height: 2.5rem;
  display: flex;
  align-items: flex-start;
}
.viewrecipe .item .group1 .itemtext {
  margin-right: auto;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.viewrecipe .item .group1 .dateAdded {
  width: 11.2rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.viewrecipe .item .group1 .dateExpire {
  width: 11.2rem;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 0.8rem;
  flex-shrink: 0;
}
.viewrecipe .group6 {
  margin: 0rem 3.2rem 2.5rem 2.9rem;
  width: calc(100% - 6.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.viewrecipe .group6 .add {
  margin: 0.2rem 2.2rem 0rem 0rem;
  width: 20.1rem;
  height: 4.9rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-item);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-medium);
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.viewrecipe .group6 .delete {
  margin-bottom: 0.2rem;
  width: 4.9rem;
  height: 4.9rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.viewrecipe .backtotecipe {
  margin: 0 2.9rem;
  width: calc(100% - 5.8rem);
  height: 5.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
}

.backtorecipe {
  margin: 0rem 2.5rem 0rem 3.8rem;
  width: calc(100% - 3rem);
  height: 5.4rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
}
form{
  /* height: ; */
}


