:root {
  --fridge-dark: #37251b;
  --fridge-medium-dark: #80411e;
  --fridge-medium: #ad6e2f;
  --fridge-medium-light: #d49961;
  --fridge-light: #e4bc84;
  --fridge-milk: #faeadc;

  --tea-dark: #222f1d;
  --tea-medium-dark: #2c3e26;
  --tea-medium: #465f43;
  --tea-medium-light: #607f60;
  --tea-light: #c5e7b9;
  --tea-milk: #f1f9ee;
}
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.homescreen {
  box-sizing: border-box;
  padding: 5% 5% 5% 5%;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--fridge-dark);
}

.homescreen .fridgelogo {
  margin-bottom: 5%;
  width: 75%;
  height: auto;
  max-height: 35%;
  border-radius: 2.4rem;
  flex-shrink: 0;
}

.homescreen .group1 {
  margin-bottom: 5%;
  width: 50%;
  height: 7.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.homescreen .group1 .AddHave,
.homescreen .group1 .AddAll,
.homescreen .FridgeList,
.homescreen .CounterItem,
.homescreen .PentryItem,
.homescreen .ShoppingList {
  margin: 0 1.5rem 0.287rem 0;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-light);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
}

.homescreen .line2,
.homescreen .line1,
.homescreen .line3,
.homescreen .line4 {
  margin-bottom: 10%;
  width: 100%;
  height: 0.1rem;
  background-color: var(--fridge-light);
  flex-shrink: 0;
}

.list-item,
.FridgeListItem,
.CounterListItem,
.PentryListItem,
.ShoppingListItem {
  background-color: var(--fridge-medium);
  color: var(--fridge-light);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
