:root {
  --fridge-dark: #37251b;
  --fridge-medium-dark: #80411e;
  --fridge-medium: #ad6e2f;
  --fridge-medium-light: #d49961;
  --fridge-light: #e4bc84;
  --fridge-milk: #faeadc;

  --tea-dark: #222f1d;
  --tea-medium-dark: #2c3e26;
  --tea-medium: #465f43;
  --tea-medium-light: #607f60;
  --tea-light: #c5e7b9;
  --tea-milk: #f1f9ee;
}

html {
	font-size:62.5%;
}
* {
  font-family: Comfortaa;
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
  height: 100%;
}.homescreen {
  box-sizing: border-box;
  padding: 5% 5% 5% 5%;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: var(--fridge-dark);
}
.homescreen .fridgelogo {
  margin-bottom: 5%;
  width: 75%;
  height: 35%;
  /* background-color: var(--fridge-medium-light); */
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.homescreen .group1 {
  margin-bottom: 5%;
  width: 50%;
  height: 7.7rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.homescreen .group1 .AddHave {
  margin-right: 10%;
  width: 35%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.homescreen .group1 .AddAll {
  width: 35%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--tea-milk);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--tea-medium);
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.homescreen .FridgeList  {
  margin: 0% 10% 0% 0% ;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-light);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: 1.5rem;
  width: 15.9rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
 }


.homescreen .CounterItem {
  margin: 0rem 17.8rem 0.287rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-light);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: 1.5rem;
  width: 15.9rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.homescreen .PentryItem {
  margin: 0rem 17.8rem 0.287rem 0rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-light);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  margin-right: 1.5rem;
  width: 15.9rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
}
.homescreen .ShoppingList {
  /* margin: 0rem 17.8rem 0.287rem 0rem; */
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 50;
  color: var(--fridge-light);
  font-family: Comfortaa, 'Source Sans Pro';
  /* white-space: nowrap; */
  flex-shrink: 0;
  margin-right: 1.5rem;
  /* width: ; */
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.115;
  color: var(--fridge-dark);
  font-family: Comfortaa, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--fridge-light);
  border-radius: 2.4rem;
  flex-shrink: 0;
}
  
.homescreen .line2 {
  margin-bottom: 10%;
  width: 100%;
  height: 0.1rem;
  background-color: var(--fridge-light);
  flex-shrink: 0;
}
.homescreen .line1  {
  margin-bottom: 10%;
  width: 100%;
  height: 0.1rem;
  background-color: var(--fridge-light);
  flex-shrink: 0;
}
.homescreen .line3 {
  margin-bottom: 10%;
  width: 100%;
  height: 0.1rem;
  background-color: var(--fridge-light);
  flex-shrink: 0;
}
.homescreen .line4 {
  margin-bottom: 10%;
  width: 100%;
  height: 0.1rem;
  background-color: var(--fridge-light);
  flex-shrink: 0;
}


.list-item {
  background-color: var(--fridge-medium);
  color: var(--fridge-light);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
}
.FridgeListItem, .CounterListItem, .PentryListItem, .ShoppingListItem {
  background-color: var(--fridge-medium);
  color: var(--fridge-light);
  /* padding: 1rem; */
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}